.modal-body {
    .input-row {
        margin-top: 10px;
    }
    .action-row {
        display: flex;
        justify-content: flex-end;
        
    }
    .mr-2 {
        margin-right: 5px;
    }
}