<div class="container">
    <div class="content-container">
        <div class="action-btn-row">
            <div class="search-container">
                <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Search..." (keydown)="filterData()">
            </div>
            <button type="button" class="btn btn-primary" (click)="openAddModal()">
                <fa-icon [icon]='faPlus'></fa-icon>
            </button>
        </div>
        <table class="table table-striped table-hover table-borderless">
            <tbody>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>DOB</th>
                    <tH>Phone</tH>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th></th>
                </tr>
                <tr *ngFor="let customer of filterData()">
                    <td>{{customer.firstName}}</td>
                    <td>{{customer.lastName}}</td>
                    <td>{{customer.dob}}</td>
                    <td>{{customer.contact?.phone}}</td>
                    <td>{{customer.contact?.address}}</td>
                    <td>{{customer.contact?.city}}</td>
                    <td>{{customer.contact?.state}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm mr-2" (click)="openEditModal(customer)">
                            <fa-icon [icon]='faEdit'></fa-icon>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="openConfirmModal(customer)">
                            <fa-icon [icon]='faTrash'></fa-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<notifier-container></notifier-container>
